$backGroundColor: #e7e7e7;
$fontFamily: 'Roboto';
$color: #adadad;

body{
  background-color: $backGroundColor;
  font-family: $fontFamily;
  font-size: 12px;
}

@media (max-width: 428px), (max-width: 414px), (max-width: 375px){
  .menu{
    margin-top: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2px;
  }
  .cardBalance{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin: 4% 0 0 4%;
    padding: 2%;
    background-color: #fff;
    width: auto;
    border-radius: 10px;
  }
  .paragraphAvailable{
    color: $color;
    font-family: 'Libre Baskerville';
  }
  .cardBalance h1,p{
    margin: 0;
  }

  .dailyPoints{
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    margin: 2% 0 0 4%;
    padding: 5%;
    background-color: #fff;
    width: auto;
    border-radius: 10px;
    font-family: 'Libre Baskerville';
  }
  .paragraphDailyPoints{
    color: $color;
    font-family: 'Libre Baskerville';
  }
  .noPaymentDue{
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    margin: 4% 4% 0 4%;
    padding: 5%;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Libre Baskerville';
  }
  .messageNoPaymentDue{
    color: $color;
    font-family: 'Libre Baskerville';
  }
  .messageTransaction{
    color: $color;
    font-family: Arial, Helvetica, sans-serif;
  }
  .transactionName{
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
  }
  .checkButton{
    font-size: 4em;
    float: right;
    margin: 5%;
  }
  .payLogoContainer{
    display: 'flex';
    align-items: 'center'
  }
  .payLogo{
    font-size: 4em;
  }
  .headerLatestTransactions{
    margin-left: 2%;
  }
  .transactionList{
    font-family: 'Libre Baskerville';
    background-color: #fff;
    border-radius: 10px;
    list-style-type: none;
    margin: 2% 2% 0 2%;
    padding: 0;
    font-weight: 900;
  }
  .transactionList li {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 2%;
  }
  .transactionList li:not(:last-child) {
    position: relative;
  }
  .transactionList li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px; 
    width: calc(100% - 20px); 
    border-bottom: 1px solid #c0bbbb;
  }
  .transactionList li span {
    font-weight: bold;
  }
  .arrowBack{
    font-size: 2em;
  }
  .arrowMenu{
    margin: 7% 0 0 2%;
  }

  .menuTransaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transactionContainer{
    width: 90%;
  }
  .headerAmount{
    font-size: 3em;
    margin: 7% 0;
  }
  .transactionData{
    color:$color;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10%;
  }
  .transactionView{
    padding: 7%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #c0bbbb;
  }
  .transactionTotal{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 0 0 10px 10px;
    border-bottom: none;
  }
  .transactionTotal :nth-child(2){
    text-align: end;
  }
  .transactionDescription{
    font-family: Arial, Helvetica, sans-serif;
    color: $color;
  }
}